:root {
    --primary-color: #004E4F;
    --primary-color-50: #004e4f77;
}

* {
    transition: 0.03s;
}

@font-face { 
    font-family: landform-bold; 
    src: url('../fonts/landformbold.otf'); 
} 

@font-face { 
    font-family: landform; 
    src: url('../fonts/landformregular.otf'); 
} 

.dropdown-check-list [class*=anchor]:after {
    position: absolute;
    content: "";
    border-left: 2px solid #dd6b20;
    border-top: 2px solid #dd6b20;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list [class*=anchor]:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 10px 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .items {
    display: block;
}